<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(~{::title})">
    <title>검색</title>
</head>
<body>
        <div class="main-area">
            <div class="Top">
                <div class="main_container">
                    <div class="profile">
                        <a th:href="@{'/' + ${member.personal}}">
                            <div class="search-profile">
                                <img class="profile-image" th:src="${member.profileImg}" alt="profile2">
                            </div>
                        </a>
                        <div class="search-area">
                            <form action="/search/result" method="GET">
                                <input type="text" id="searchField" name="searchField" placeholder="검색어를 입력해주세요">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-tag-select">
                <div class="my-tag-title">
                    <p class="font-middle-w">인기 급 상승 태그</p>
                </div>

                <div th:if="${#lists.isEmpty(recommendedTagList)}">
                    <div class="empty_search">
                        <p class="font-middlebig">인기 급 상승하는 태그가 없습니다</p>
                        <p class="font-middle">자신만의 태그를 만들어서 다른 사람들과 소통을 해보세요</p>
                    </div>
                </div>

                <div class="my-tag-area" th:if="${not #lists.isEmpty(recommendedTagList)}" th:each="recommendedTag : ${recommendedTagList}">
                    <div class="search-tag" onclick="sendTagData(this)">
                        <div class="search-tag-img">
                            <img class="profile-image" th:src="${recommendedTag.profileImg}" alt="profile2">
                        </div>
                        <div class="search-tag-name">
                            <p><span class="font-middle-w selectTagName" th:text="|#${recommendedTag.tagName}|">태그 이름</span></p>
                            <p><span class="font-middle-small selectPersonalName" th:text="|@${recommendedTag.personal}|">고유 ID</span></p>
                        </div>
                        <div class="search-tag-count">
                            <p><span class="font-small" th:text="|${recommendedTag.tagCount}태그|">Count</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-tag-select">
                <div class="my-tag-title">
                    <p class="font-middle-w">나를 위한 태그 선택</p>
                </div>
                <div th:if="${#lists.isEmpty(followTagList)}">
                    <div class="empty_search">
                        <p class="font-middlebig">나를 위한 태그가 없습니다</p>
                        <p class="font-middle">팔로우 한 사용자들의 태그들이 올라오게 됩니다. 관심 있는 사용자들을 팔로우 해보세요</p>
                    </div>
                </div>

                <div class="my-tag-area" th:if="${not #lists.isEmpty(followTagList)}" th:each="followTag : ${followTagList}">
                    <div class="search-tag" onclick="sendTagData(this)">
                        <div class="search-tag-img">
                            <img class="profile-image" th:src="${followTag.profileImg}" alt="profile2">
                        </div>
                        <div class="search-tag-name">
                            <p><span class="font-middle-w selectTagName" th:text="|#${followTag.tagName}|">태그 이름</span></p>
                            <p><span class="font-middle-small selectPersonalName" th:text="|@${followTag.personal}|">고유 ID</span></p>
                        </div>
                        <div class="search-tag-count">
                            <p><span class="font-small" th:text="|${followTag.tagCount}태그|">Count</span></p>
                        </div>
                    </div>
                </div>
            </div>


            <div th:replace="~{fragments/nav :: bottomNav}"></div>
        </div>

       
    </body>
    <script th:replace="~{fragments/script :: search}"></script>
    <script th:replace="~{fragments/script :: sessionBack}"></script>
</html>