<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">>
<head>
    <script th:fragment="default" defer type="text/javascript" th:src="@{/js/script.js}"></script>
    <script th:fragment="heart" type="text/javascript" th:src="@{/js/heart.js}"></script>
    <script th:fragment="sessionBack" type="text/javascript" th:src="@{/js/sessionBack.js}"></script>
    <script th:fragment="comment" type="text/javascript" th:src="@{/js/comment.js}"></script>
    <script th:fragment="retwit" type="text/javascript" th:src="@{/js/retwit.js}"></script>
    <script th:fragment="notificationSetting" type="text/javascript" th:src="@{/js/notificationSetting.js}"></script>
    <script th:fragment="write" type="text/javascript" th:src="@{/js/write.js}"></script>
    <script th:fragment="detail" type="text/javascript" th:src="@{/js/detail.js}"></script>
    <script th:fragment="image" type="text/javascript" th:src="@{/js/image.js}"></script>
    <script th:fragment="updateProfile" type="text/javascript" th:src="@{/js/updateProfile.js}"></script>
    <script th:fragment="search" type="text/javascript" th:src="@{/js/search.js}"></script>
    <script th:fragment="moreOption" type="text/javascript" th:src="@{/js/moreOption.js}"></script>
    <script th:fragment="notification" type="text/javascript" th:src="@{/js/notification.js}"></script>

</head>
</html>